/abstractfile-api/target/
/sha-file-api/target/
/abstractfile/target/
/sha-file/target/
/dma-file-api/target/
/dma-file/target/
/jn-file-api/target/
/jn-file/target/
/vcl-file-api/target/
/cfg-file-api/target/
/vcl-file/target/
/cfg-file/target/
/simplegame/target/
/openjill-core-api/target/
/open-jill-object-background/target/
/openjill-core/target/
/OpenJill/target/
/sha-file-extractor/target/
/dma-file-extractor/target/
/jn-file-extractor/target/
/openjill-background-manager/target/
/openjill-object-manager/target/
*.iml
/.idea/
/sha-file-edit/target/
